{% extends 'base.html' %}

{% block content %}
<div class = "createPage">

<div class="formContainer">
<h1 class = "createHeader">{% block title %} Add a New User {% endblock %}</h1>
    <form method="post">
        <div class =" mixContainer">

            <div class ="inputContainer">


            <label for="firstname">First Name</label>
            <input type="text" name="firstname"
                   placeholder="First name"/>
            </div>



            <div class="inputContainer">


            <label for="lastname">Last Name</label>
            <input type="text" name="lastname"
                   placeholder="Last name"/>
            </div>

        </div>
        <div class = "mixContainer">


            <div class = "inputContainer">
            <label for="email">Email</label>
            <input type="email" name="email"
                   placeholder="email"/>
            </div>



            <div class = "inputContainer">
            <label for="contactNumber">ContactNumber</label>
            <input type="text" name="contactNumber"
                   placeholder="Enter your contact number"/>
            </div>

        </div>


            <div class="inputCityContainer">
            <div class =" inputContainer ">
                <label for="city">City</label>
                    <input type="text" name="city"
                   placeholder="city">
            </div>
        </div>


            <div class  = "submitButton">
            <button id = "createButton" type="submit">Submit</button>
            </div>
    </form>
</div>
</div>
{% endblock %}

