{% extends 'authenticate.html' %}

{% block content %}
    <h1 style="width: 100%">{% block title %} Register Page {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="email">Email</label>
            <input type="text" name="email"
                   placeholder="Enter email"/>
        </p>

        <p>
            <label for="password">Password</label>
            <input type="text" name="password"
                   placeholder="Enter your password"/>
        </p>
        <p>
            <button type="submit">Register User</button>
        </p>

        <p>
            <a href="{{ url_for('login') }}">Already have a account, Login here</a>
        </p>
    </form>
{% endblock %}

