{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} {{ user.Firstname }} {{ user.Lastname }}{% endblock %}</h1>
    </span>
    <div class="content">
            <div class="user">
                <p><b>#{{ user.id }}</b></p>
                <b>
                    <p class="name">{{ user.Firstname }} {{ user.Lastname }}</p>
                </b>
                <p>{{ user.Email }}</p>
                <p>{{ user.City }}</p>
                <p>{{ user.ContactNumber }}</p>
                <p>{{ user.RoleId }}</p>
            </div>
    </div>
{% endblock %}